/*sveukupni izgled*/
body {
    font-family: Arial;
	padding-left: 200px;
}

input, fieldset{ 
    font-size:15px; 
    width: 40%;
	padding: 10px;
	margin: 20px;
    background-color: rgba(255,160,122,0.4);
	border:6px double DarkSalmon;
	box-sizing: border-box;
	border-radius: 6px;
}
/*pojedinačno*/
legend { 
    color: DarkSalmon;
    font-family: Arial;
    font-size:25px; 
}

label {
    font-weight: bold;
	color: FireBrick;
	display: block;
}

fieldset input {
    width: 90%;
}

input[type="color"] {
    height: 80px;
    padding: 2px;
}

input:focus {
    background-color: rgba(216,191,216,0.5);
}

input:active{
     background-color: rgba(221,160,221,1);
}

/*prozor za tekst*/
textarea{
	background-color: rgba(216,191,216,0.5);
}
textarea:active{
	background-color: rgba(221,160,221,1);
}


/*gumbovi*/
input[type="submit"], input[type="reset"] {
	font-weight: bold;
    color: FireBrick;
    width: 230px;
    height: 30px;
    padding: 2px;
    margin-left: 23px;
	background-color: Plum;
    box-shadow: 3px 3px 3px Salmon;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
    box-shadow: 2px 2px 2px Orchid ;
}

input[type="button"] {
	font-weight: bold;
	color: FireBrick;
    width: 40%;
    height: 30px;
    padding: 2px;
    margin-left: 20px;
	background-color: Plum; 
	box-shadow: 3px 3px 3px Salmon;
}

/*odabiri*/
input[type="radio"]{
    width: 15px;
}
input[type="checkbox"]{
    width: 100px;
    height: 20px;
}